html{
	font-size: 18px;
	font-family: calibri;
	background-color: #EAE8ED;
	align-content: center;
	text-align: center;
}
h1{
	font-size: 48px;
	text-align: center;
}
ul{
	text-align: center;
}

li{
	list-style: none;
}

a{
	color:#922D50;
}
.btn{
	border: 0.5px solid white;
	background-color: #AAFCB8;
	color: grey;
	width: 40px;
	height: 20px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 4px 8px 0;
}
.card{
	border: 2px solid white;
	background-color:#8EA8C3;
	width:50%;
	height:50%;
	margin: 30px auto 0px;
	padding: 50px;
	box-shadow: 0 4px 10px 0;
}

img{
	width: 30%;
}
.images{
	width: 8%;
	align-items: center;
	border-radius: 0%;
	padding: 20px;
}

.logo1{
	size: 10px;
}

.profile{
	width: 140px;
	border-radius: 100px;
}


.container{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.container2{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	
